
:root{
    --col1: #DFF8EB;
    --col2: #A28F9D;
    --col3: #74776B;
    --col4: #5C574F;
    --col5: #48483A;
}

.navbar{
    background: var(--col3);
    font-weight: 600;
}
.nav-link, .navbar-brand{
    color: #2c2622;
    cursor: pointer;
    margin-left: 1em;
}
.nav-link{
    margin: 1em !important;
}
.nav-link:hover{
    border-radius: 3px;
    background: var(--col5);
    color: var(--col1);
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    background: #FFF !important;
}

.header{
    position: relative;
    background-image: url('../images/headerback1.jpg');

    background-size: cover;
    background-position: center;
    height: 100vh;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
.description h1{
    color: var(--col4);
    font-weight: 600;
}
.description p{
    color: #666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}
.description button{
    border: 1px solid var(--col3);
    background: var(--col3);
    color: #fff;
}

.about{
    margin: 4em 0;
    padding: 1em;
    position: relative;
    background-color: #999;
    width: 80%;
    margin-inline: auto;
    border-radius: 8px;
}
.about h1{
    color: var(--col5);
    font-weight: 600;
    margin: 2em;
}
.about img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    padding-bottom: 1em;
}
.about span{
    display: block;
    color: #888;
    position: absolute;
    left: 30%;
}
.about .desc{
    padding: 2em;
    /* border-left: 4px solid var(--col3); */
}
.about .desc h3{
    color: var(--col4);
}
.about .desc p{
    line-height: 2;
    color: var(--col4);
}

.c-item{
    height: 800px;
}
.c-img{
    height: 100%;
    object-fit: cover;
}

.prices{
    margin: 4em 0;
    padding: 1em;
    position: relative;
}
#price-title{

}